.useb{
	height: 100px;
	border-radius: 7px;
}
.div#clear{
	display: block;
}
.card{
	margin: 20px 0 20px 0;
}
button{
	style="font-family: 'RocknRoll One', sans-serif;"
	font-weight: bolder;
}
a{
	style="font-family: 'RocknRoll One', sans-serif;"
	font-weight: bolder;
}
p{
	style="font-family: 'RocknRoll One', sans-serif;"
	font-weight: bolder;
}
h5{
	style="font-family: 'RocknRoll One', sans-serif;"
	font-weight: bolder;
}